[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pre-commit = "*"
pylint = "*"
autopep8 = "*"

[packages]
celery = "==5.2.3"
djangorestframework = "==3.13.1"
six = "==1.16.0"
coreapi = "==2.3.3"
pyyaml = "==6.0"
django-cors-headers = "==3.10.1"
django-jsonfield = "==1.4.1"
drf-extensions = "==0.7.1"
django-otp = "==1.1.3"
requests = "~=2.27.1"
toml = "==0.10.2"
aliyun-python-sdk-core = "==2.13.35"
aliyun-python-sdk-core-v3 = "==2.13.32"
redis = "==4.1.0"
drf-spectacular = "==0.14.0"
jwcrypto = "==1.0"
ldaptor = "==21.2.0"
oauthlib = "==3.1.1"
oss2 = "==2.15.0"
django-import-export = "==2.7.1"
mysqlclient = "==2.1.0"
arrow = "==1.2.1"
django-scim2 = "==0.17.0"
aiohttp = "==3.8.1"
pysaml2 = "==7.0.1"
ldap3 = "==2.9.1"
django-requestlogs = "==0.2.4"
django-ipware = "==4.0.2"
pymssql = "==2.2.3"
django-celery-beat = "==2.2.1"
pypinyin = "==0.44.0"
random-password-generator = "==2.2.0"
kerberos = "==1.3.1"
aiosignal = "==1.2.0"
aliyun-python-sdk-kms = "==2.15.0"
amqp = "==5.0.9"
asgiref = "==3.4.1"
async-timeout = "==4.0.2"
attrs = "==21.3.0"
billiard = "==3.6.4.0"
certifi = "==2021.10.8"
cffi = "==1.15.0"
charset-normalizer = "==2.0.9"
click-didyoumean = "==0.3.0"
click-plugins = "==1.1.1"
click-repl = "==0.2.0"
click = "==8.0.3"
constantly = "==15.1.0"
coreschema = "==0.0.4"
crcmod = "==1.7"
cryptography = "~=36.0.1"
defusedxml = "~=0.7.1"
diff-match-patch = "==20200713"
django-timezone-field = "==4.2.1"
elementpath = "==2.4.0"
et-xmlfile = "==1.1.0"
frozenlist = "==1.2.0"
greenlet = "==1.1.2"
hyperlink = "==21.0.0"
idna = "==3.3"
importlib-resources = "==5.4.0"
incremental = "==21.3.0"
inflection = "==0.5.1"
itypes = "==1.2.0"
jinja2 = "==3.0.3"
jmespath = "==0.10.0"
jsonschema = "==4.3.2"
kombu = "==5.2.3"
multidict = "==5.2.0"
odfpy = "==1.4.1"
openpyxl = "==3.0.9"
passlib = "==1.7.4"
prompt-toolkit = "==3.0.24"
pyasn1-modules = "==0.2.8"
pyasn1 = "==0.4.8"
pycparser = "==2.21"
pycryptodome = "==3.12.0"
pyopenssl = "==21.0.0"
pyparsing = "==3.0.6"
pyrsistent = "==0.18.0"
python-crontab = "==2.6.0"
python-dateutil = "==2.8.2"
pytz = "==2021.3"
scim2-filter-parser = "==0.3.5"
service-identity = "==21.1.0"
sly = "==0.3"
sqlparse = "==0.4.2"
tablib = {version = "==3.1.0", extras = ["html", "ods", "xls", "xlsx", "yaml"]}
typing-extensions = "==4.0.1"
uritemplate = "~=4.1.1"
urllib3 = "==1.26.7"
vine = "==5.0.0"
wcwidth = "==0.2.5"
wrapt = "==1.13.3"
xlrd = "==2.0.1"
xlwt = "==1.3.0"
xmlschema = "==1.9.2"
yarl = "==1.7.2"
zipp = "==3.6.0"
"zope.interface" = "==5.4.0"
Django = "~=4.0.1"
Twisted = {version = "==21.7.0", extras = ["tls"]}
Pillow = "==8.2.0"
SQLAlchemy = "==1.4.29"
Automat = "==20.2.0"
Deprecated = "==1.2.13"
MarkupPy = "==1.14"
MarkupSafe = "==2.0.1"
django-scim = "*"
requests-oauthlib = "*"
flask = "*"

[requires]
python_version = "3.8"
